/* .board{
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 400px;
    column-gap: 5px;
    row-gap: 5px;
    place-items: center;
    justify-content: center;
    border: 1px solid red;
} */

.board{
    display: grid;
    grid-template-columns: repeat(5, 6rem);
    place-items: center;
    justify-content: center;
}